*.*~
.python-environments
.smex-items
abbrev_defs
ac-comphist.dat
auto-save-list
backups
bookmarks
elpa
eshell
games
image-dired
jabber-avatar-cache
places
projectile-bookmarks.eld
projectile.cache
themes
tramp
url
viper
